<div class="container">
  <div class="twelve columns offset-by-three">
    <h4>goodFactor is proud to be official partner of
      <br>the following non-profit organisations:
    </h4>
    <% @beneficiaries.each do |beneficiary| %>
    <ul>
      <li><%= beneficiary.name %></li>
    </ul>
    <% end %>
    <button>
      <%= link_to 'Back', root_path, class:"hvr-underline-from-center left-space" %>
    </button>

  </div>
</div>
